html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}


/*////////////////////////////// navbar */

.nav-item{
  margin-right:26vh;
}
.cw{
  color:white;
}

.cb{
  color:black;
}
nav{
  background-color: white;
}

/* ///////////////////////////////particles.js div element */

#particles-js{
  background: black;
  width:95%;
  padding:0;
  height:65%;
  z-index:-1;
}

/* ////////////////////////////////second part */
.container{
  margin-left:0px;
  margin-right:0px
}

.ft1{
  font-family: 'Roboto Slab', serif;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  padding:50px;
}

.ft2{
  font-family: 'Roboto Slab', serif;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  padding:50px;
}

.ft p{
  padding:50px
}



.col-sm img {
  width:125%;
}

/* /////////////////////////////////////////////////////pointer of typewriter */

.pointer{
  border-right: 1px solid black;
}